<form  method="POST">
    <h1 style="text-align:center; margin-bottom:10px">Player Selection</h1>
    <div>
        <div>
            <label for="playerOne"> playerOne </label>
        </div>
        <input name="playerOne" />
    </div>
    <div>
        <div>
            <label for="playerTwo"> playerTwo </label>
        </div>
        <input name="playerTwo" />
    </div>
    <div>
        <div>
            <label for="playerThree"> playerthree </label>
        </div>
        <input name="playerThree" />
    </div>
    <div>
        <div>
            <label for="playerFour"> playerFour </label>
        </div>
        <input name="playerFour" />
    </div>
    <div>
        <div>
            <label for="playerFive"> playerFive </label>
        </div>
        <input name="playerFive" />
    </div>
    <div class="submitButton">
        <button type="submit" class="btn btn-primary"> Submit</button>
    </div>
    
</form>

